*,v
igp_*
*.swp
*.gz
/MimeIconPlugin.md5
/MimeIconPlugin.sha1
/MimeIconPlugin.tgz
/MimeIconPlugin.txt
/MimeIconPlugin.zip
/MimeIconPlugin_installer
/MimeIconPlugin_installer.pl
pub/System/MimeIconPlugin/papirus/git/
